# # Convert JSON file to CSV file

In [1]:
import pandas as pd
import json

In [2]:
# Open the file and load into data
with open('result2.json') as file:
    data = json.load(file)

In [3]:
# Show data sample, mainly one row and more that one row
counter=0
for dt_e in data:
    counter+=1
    if counter < 25:
        continue
    print("counter:",counter," data: ",dt_e)
    if counter > 25:
        break

counter: 25  data:  {'frame_id': 25, 'filename': 'test.mp4', 'objects': [{'class_id': 0, 'name': 'person', 'relative_coordinates': {'center_x': 0.277149, 'center_y': 0.913651, 'width': 0.426809, 'height': 0.170062}, 'confidence': 0.260731}]}
counter: 26  data:  {'frame_id': 26, 'filename': 'test.mp4', 'objects': []}

# Algorithm:
1. Read JSON file
2. Create csv in format: # frame_id, filename, class_id, name, center_x, center_y, width, height, confidence

In [4]:
with open('result2.csv','w') as csv_file:
    csv_detl_head=''
    csv_detl_obj=''
    for each_entry in data:
        csv_detl_head=''
        csv_detl_obj=''
        csv_detl_head=csv_detl_head+str(each_entry.get("frame_id",'')) + ","
        csv_detl_head=csv_detl_head+each_entry.get("filename",'') + ","
        
        for each_key in each_entry:

            if "objects" in each_key and len(each_entry[each_key]): # handle object array
                for i in range (0,len(each_entry[each_key])):
                    temp_sub_dict=each_entry[each_key][i]
                    csv_detl_obj=( str(temp_sub_dict["class_id"]) + "," + temp_sub_dict["name"] + "," +
                          str(temp_sub_dict["relative_coordinates"]["center_x"]) + "," +
                          str(temp_sub_dict["relative_coordinates"]["center_y"]) + "," +
                          str(temp_sub_dict["relative_coordinates"]["width"]) + "," +
                          str(temp_sub_dict["relative_coordinates"]["height"]) + "," +
                          str(temp_sub_dict.get("confidence",''))
                         )
                    csv_file.write(csv_detl_head+csv_detl_obj+"\n")
            elif ("objects" in each_key):
                csv_file.write(csv_detl_head+ ",,,,,,"+"\n")

# Result verification aka Testing

In [5]:
# When read the output csv, add header and keep spaces as spaces
col_names=['frame_id', 'filename', 'class_id', 'name', 'center_x', 'center_y', 'width', 'height', 'confidence']
df=pd.read_csv("result2.csv",names=col_names,header=None,index_col=None)
df.fillna('', inplace=True)

In [6]:
df.head(2)

   frame_id  filename class_id name center_x center_y width height confidence
0         1  test.mp4
1         2  test.mp4

In [7]:
df.tail(10)

,frame_id,filename,class_id,name,center_x,center_y,width,height,confidence
635,413,test.mp4,0,person,0.429068,0.503334,0.564446,0.966124,0.981995
636,414,test.mp4,0,person,0.425874,0.498612,0.554216,0.960904,0.992525
637,415,test.mp4,0,person,0.422907,0.491634,0.529106,0.937421,0.927402
638,415,test.mp4,0,person,0.572609,0.489575,0.245466,0.859077,0.488355
639,416,test.mp4,,,,,,,
640,417,test.mp4,,,,,,,
641,418,test.mp4,,,,,,,
642,419,test.mp4,,,,,,,
643,420,test.mp4,,,,,,,
644,421,test.mp4,,,,,,,