# Read remote url excel through read_html, and then copy list[0] to required dataframe

In [1]:
import pandas as pd
url_f= 'https://www.nordpoolgroup.com/496272/globalassets/marketdata-excel-files/n2ex-day-ahead-auction-prices_2021_hourly_gbp.xls'
df_list=pd.read_html(url_f)
df_list[0].head(2)

  N2EX Day Ahead Auction Prices in GBP/MWh
          Data was last updated 29-03-2021
                        Unnamed: 0_level_2    Hours CET/CEST time      UK
0                               01-01-2021  23 - 00       00 - 01  6145.0
1                               01-01-2021  00 - 01       01 - 02  6573.0

In [2]:
df_r=df_list[0]

In [3]:
df_r.describe()

      N2EX Day Ahead Auction Prices in GBP/MWh
              Data was last updated 29-03-2021
                                            UK
count                              2111.000000
mean                               6446.256277
std                                6988.498592
min                                 264.000000
25%                                4895.000000
50%                                5698.000000
75%                                6562.000000
max                              149962.000000

In [4]:
df_r.head(1)

  N2EX Day Ahead Auction Prices in GBP/MWh
          Data was last updated 29-03-2021
                        Unnamed: 0_level_2    Hours CET/CEST time      UK
0                               01-01-2021  23 - 00       00 - 01  6145.0

In [ ]:
# Note read_excel(url) will throw XLRDError: Unsupported format, or corrupt file: Expected BOF record; found b'All hour'"